.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: rgb(255, 255, 255);
  padding: 200px 60px;
  border-radius: 10px;
  height: 100vh;
}

h1 {
  color: rgb(56, 104, 193);
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(42, 135, 206);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
select {
  padding: 13px;
  width: 38vh;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}